@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'articles';
@import 'comments';

.hidden {
	display: none;
}

.newspaper {
  background-color: white;
}

.magazine {
  background-color: yellow;
}
