.articles-list {
	.article-item {
		img {
			max-width: 280px;
			max-height:170px;
			min-width: 280px;
			min-height: 170px;
			margin-top: 10px;
		}
	}
}

.articles-show {
	.article-body {
		img {
			max-width: 600px;
		}
	}
}
