.articles-index {
	.article-newspaper {
		img {
			max-width: 280px;
			max-height:170px;
			min-width: 280px;
			min-height: 170px;
			margin-top: 10px;
		}
	}
	.article-magazine {
		img {
			max-width: 500px;
			min-width: 500px;
		}
	}
}

.articles-show {
	.article-magazine {
		img {
			max-width: 600px;
		}
	}
	.article-newspaper {
		img {
			max-width: 800px;
			min-width: 800px;
		}
	}
}
